@model Usuario
<div class="container">
    <div class="row">
        <div class="form-group-sm col-sm-3">
            <label asp-for="Nome">Nome</label>
            <input asp-for="Nome" class="form-control" />
        </div>
    </div>    
</div>


        @*int UsuarioId { get; set; }
        string Nome { get; set; }
        Endeco Endeco { get; set; }
        byte[] Foto { get; set; }
        Acesso Acesso { get; set; }*@
