@model Estabelecimento
@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar Estabelecimento</h2>
<form asp-action="cadastrar">

    <partial name="_Acesso" />

    <partial name="_Usuario" />

    <partial name="_Endereco" />
</form>

